body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

#header {
    height: 840px;
    display: flex;
    background-image: url(./images/background-image.png);
}

#right {
    margin-left: auto;
}

/* #header-image-container {
    height: 1399px;
    width: 1399px;
    padding-left: 45px;
    background-color: #E15252;
    clip-path: ellipse(90% 100% at 90% 50%);
} */
#header-image-container {
    background-color: red;
    clip-path: ellipse(90% 100% at 90% 50%);
    height: inherit;
}
#header-image-container img {
    width: 840px;
    height: auto;
    clip-path: ellipse(90% 100% at 90% 50%);
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-name {
    display: flex;
    gap: 16px;
    align-items: center;
}

#main-name {
    font-weight: 900;
    font-size: 50px;
}

#name-contd {
    font-weight: 500;
    font-size: 18px;
}

h3, h2 {
    margin: 0;
}

#header-texts {
    width: 473px;
    height: 259px;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    width: 698px;
    height: 292px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.services-text {
    font-weight: 700;
    font-size: 64px;
    color: #333333;
}

.services-subtext {
    font-weight: 500;
    font-size: 18px;
    color: #e15252;
}

.image-container {
    border-radius: 50%;
    background-color: rgb(225, 82, 82);
    width: 224px;
    height: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    border-radius: 50%;
    opacity: 0.5;
    width: 200px;
    height: 200px;
}

.item-00 {
    width: 246px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.item-text {
    font-weight: 700;
    font-size: 18px;
}

.about-item {
    font-size: 14px;
}

.service-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.discount-button {
    width: 208px;
    height: 46px;
    border: none;
    border-radius: 42px;
    background-color: #e15252;
    box-shadow: 0 4px 8px rgba(225, 82, 82, 0.5);
}

.discount-button a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    height: 840px;
    background-color: #e15252;
    /* background-image: url(./images/background-image.png);
    background-size: cover;
    background-repeat: no-repeat; */
    padding-top: 16px;
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}

.about-text {
    font-weight: 700;
    font-size: 64px;
    color: white;
}

.about-subtext {
    font-weight: 500;
    font-size: 18px;
}

.about-card {
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    background-color: white;
    width: 1200px;
    height: 648px;
    margin-top: auto;

    display: flex;
    gap: 32px;
}

.about-card img {
    width: 496px;
    height: auto;
    border-top-left-radius: 42px;
}

.about-company {
    width: 352px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    align-self: center;
}

.company-name {
    font-weight: 400;
    font-size: 46px;
}

.about-company img {
    width: 90px;
    height: 2px;
}

.about-company-text {
    font-weight: 500;
    font-size: 14px;
    /* text-align: justify; */
}

.contact-section {
    height: 698px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
}

.contact-us {
    background-color: #e15252;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    width: 1200px;
    height: 648px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 64px;
}

.idk {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.bg {
    width: 374px;
    height: 56px;
    border: none;
    border-radius: 35px;
    background-color: white;
}

.outline {
    width: 168px;
    height: 56px;
    border: 3px solid white;
    border-radius: 35px;
}

.moar-contacts {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.email-address, 
.phone-number, 
.house-address {
    color: white;
}

.contact-contents {
    background-color: whitesmoke;
    height: 532px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 32px;
}

.footer {
    height: 92px;
    background-color: #c4c4c4;
}

.email,
.phone,
.address {
    display: flex;
    gap: 8px;
}

.icons {
    width: 18px;
    height: auto;
}